:root {
    /* the width and height of the Next and Previous controls */
    --uiArrowSize: 50px;
    /* the menu toggler size */
    --menuTogglerWidth: 50px;
    --menuTogglerHeight: 35px;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/**
 * wrappers
 * *************************
 * */

.siteWrapper {
    font-family: 'Poppins', sans-serif;
}

.contentWrapper {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
}

/**
 * quadrant
 * *************************
 * */

.quadrant {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}

@media(max-width: 768px) {
    .quadrant {
        width: 100vw;
    }
    .vide {
        display: none;
    }
}

/**
 * ui elements
 * *************************
 * */

.ui {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    position: absolute;
    color: #AAA;
    background-color: rgba( 0, 0, 0, .8 );
}

.ui:hover {
    cursor: pointer;
}

.previous, .next {
    width: var(--uiArrowSize);
    height: var(--uiArrowSize);
    top: calc( 50% - var( --uiArrowSize) / 2 );
    font-size: 1.5em;
}

.next {
    right: 0;
}

.pageNumber {
    padding: .35em;
    bottom: 0;
    right: 0;
}

.menuToggler {
    visibility: visible;
    width: var(--menuTogglerWidth);
    height: var(--menuTogglerHeight);
    font-size: 1.5em;
}

.menuPanel {
    visibility: hidden;
    top: var(--menuTogglerHeight);
}

.menu {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

.menu li {
    padding: 1em;
}

.menu li:hover {
    background-color: #AAA;
    color: #000;
}

/**
 * content
 * *************************
 * */

img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}

.title {
    text-align: center;
    padding: .2em;
    font-size: 3em;
    color: #000;
    background-color: rgba(255, 255, 255, .5);
}

.description {
    padding:  1em;
    font-size: 1.2em;
    color: #CCC;
    background-color: rgba( 0, 0, 0, .5 );
}

@media(max-width: 768px) {
    .title {
        font-size: 2.5em;
    }
    .description {
        font-size: 1em;
    }
}
